<div class="container">
  <!-- section title -->
  <h2 class="section-title wow fadeInUp">Experience</h2>

  <div class="spacer-60"></div>

  <div class="row">
    <div class="col-md-12">
      <!-- timeline wrapper -->
      <div class="timeline exp rounded bg-white shadow-dark padding-30 overflow-hidden">
        <!-- timeline item -->
        <div class="timeline-container wow fadeInUp">
          <div class="content">
            <span class="time">May 2018 - Present</span>
            <h3 class="title">Sr. Web Designer</h3>
            <p>EPIC Engineering & Consulting Group, LLC</p>
            <p><strong>Florida’s Turnpike Enterprise, Orlando, FL.</strong></p>
            <p>Project team member providing onsite support at Florida’s Turnpike Enterprise (FDOT) in all areas of web
              applications design & development. Works with stakeholders, program managers, project managers, and
              back-end developers to create custom applications, custom graphics, templates, reports, information boards
              and other artwork to support FTE’s projects and initiatives.</p>
          
            <a href="javascript:" class="work-content" data-toggle="modal" (click)="exampleModalCenter.show()"><button class="mt-4 btn btn-sm btn-outline-primary">More Details</button></a>

            <app-ui-modal #exampleModalCenter dialogClass="modal-dialog-centered work-modal" [hideHeader]="true"
              [hideFooter]="true">
              <div class="app-modal-body">
                <div id="small-dialog" class="white-popup zoom-anim-dialog mfp-hide">
                  <img src="assets/images/works/desk.png" alt="Title" />
                  <h2>Sr. Web Designer</h2>
                  <p><strong>Web Designer: </strong>Custom web designer responsible for creating UI/UX designs and layouts for various websites and applications. Meeting with clients to discuss requirements and/or project progress for agile development. Creating and demoing wireframes and prototypes to stakeholders for feedback with assessing the usability and accessibility of the applications. All while working effectively as part of a multidisciplinary development team meeting W3C, 508 and web application standards.</p>
                  <p><strong>Front-End Developer: </strong>Front-End Development tasked with designing and coding websites and applications using Visual Studio Code. Utilizing Angular framework for building single-page client applications using HTML, CSS and TypeScript. Installed standard application plug ins and maintained updates to Git repositories for file sharing with the back-end developers.</p>
                  <p><strong>508 Compliance Specialist: </strong>Serves as a source of expertise concerning Section 508 accessibility for web applications. Consults with stakeholders to understand specific goals and needs. Conducts Section 508 testing to ensure compliance with all required government standards at level AA for all web application development.</p>
                  <p><strong>WordPress Customization: </strong>Customized WordPress themes with HTML/CSS/PHP edits. Installed WordPress plugins. Customized theme elements and created new, custom templates within the main theme files.</p>
                </div>
              </div>
            </app-ui-modal>
          </div>
        </div>

        <!-- timeline item -->
        <div class="timeline-container wow fadeInUp" data-wow-delay="0.2s">
          <div class="content">
            <span class="time">Nov 2017 - May 2018</span>
            <h3 class="title">Web Developer/Designer</h3>
            <p><strong>Window Tint Specialists</strong></p>
            <p>Contracted Web development job for current site and in production for new 60+ page WordPress company site. I"m also their graphic designer for their decorative window department.</p>
            <p><strong>Responsibilities included:</strong></p>
            <p> Custom wordpress themes alterations with HTML, CSS and PHP files • Installed standard and paid wordpress plugins • Photographed entire staff for Window Tint Specialists website • Kept development log daily for all work completed and uploaded to management.</p>
          </div>
        </div>

        <!-- timeline item -->
        <div class="timeline-container wow fadeInUp" data-wow-delay="0.4s">
          <div class="content">
            <span class="time">Feb 2017 - Sept 2017</span>
            <h3 class="title">Front-End Developer I</h3>
            <p><strong>ChatterBuzz Media</strong></p>
            <p>F/T In house Front-End Developer tasked with designing and creating websites from scratch. Using Bones/Bootstrap.</p>
            <p><strong>Responsibilities included:</strong></p>
            <p>Custom wordpress themes creation with HTML, CSS using SASS, ACF, and PHP files • Installed standard and paid wordpress plugins • Photographed entire staff for chatterbuzz Media's website • Kept time log for all work and updated Basecamp with notes for other departments.</p>
          </div>
        </div>

        <!-- timeline item -->
        <div class="timeline-container wow fadeInUp" data-wow-delay="0.4s">
          <div class="content">
            <span class="time">May 2016 - Feb 2017</span>
            <h3 class="title">WordPress Web Developer I</h3>
            <p><strong>Mainstreethost</strong></p>
            <p>F/T In house Web Developer I tasked with designing and creating websites from scratch. Using Bones/Bootstrap and Headway.</p>
            <p><strong>Responsibilities included:</strong></p>
            <p>Custom wordpress themes creation with HTML, CSS using SASS, and PHP files • Installed standard and paid wordpress plugins • Created custom function files, graphics and logos. • Managed an average of 10-12 clients • Maintained weekly phone meetings and or emails with each client • Kept time log for all work and updated CRM database with notes for other departments.</p>
          </div>
        </div>

        <!-- timeline item -->
        <div class="timeline-container wow fadeInUp" data-wow-delay="0.4s">
          <div class="content">
            <span class="time">1999 - 2013</span>
            <h3 class="title">E-commerce Business</h3>
            <p><strong>Seth Lieberman Photography</strong></p>
            <p>Online sales of photography/videos on E-commerce websites.</p>
            <p><strong>Responsibilities included:</strong></p>
            <p>Setting up each business with a domain, dedicated server & online billing system • Photographing images for online stock photography sales • Creating responsive websites with graphics and custom HTML/CSS • Advertising on social networks using yahoo clubs, youtube and facebook • Updating weekly for optimal sales</p>
          </div>
        </div>

        <!-- timeline item -->
        <div class="timeline-container wow fadeInUp" data-wow-delay="0.4s">
          <div class="content">
            <span class="time"></span>
            <h3 class="title"></h3>
            <p><strong></strong></p>
            <p></p>
            <p><strong>Responsibilities included:</strong></p>
            <p></p>
          </div>
        </div>
        <!-- main line -->
        <span class="line"></span>
      </div>
    </div>

    <div class="col-md-12 mt-4">
      <div class="spacer-30 d-md-none d-lg-none"></div>

      <div class="timeline edu bg-white shadow-dark rounded padding-30 overflow-hidden">
        <div class="timeline-container wow fadeInUp">
          <div class="content">
            <span class="time">2019 - Present</span>
            <h3 class="title">Web Designer</h3>
            <p>Lorem ipsum dolor sit amet quo ei simul congue exerci ad nec admodum perfecto.</p>
          </div>
        </div>

        <div class="timeline-container wow fadeInUp" data-wow-delay="0.4s">
          <div class="content">
            <span class="time">2013 - 2009</span>
            <h3 class="title">Back-End Developer</h3>
            <p>Lorem ipsum dolor sit amet quo ei simul congue exerci ad nec admodum perfecto.</p>
          </div>
        </div>

        <span class="line"></span>
      </div>
    </div>
  </div>
</div>