<div class="container">
  <!-- section title -->
  <h2 class="section-title wow fadeInUp">About Me</h2>

  <div class="spacer-60"></div>

  <div class="row">
    <div class="col-md-3">
      <div class="text-center text-md-left">
        <!-- avatar image -->
        <img src="assets/images/avatar-2.png" width="160px" alt="Seth Lieberman Portfolio" />
      </div>
      <div class="spacer-30 d-md-none d-lg-none"></div>
    </div>

    <div class="col-md-9 triangle-left-md triangle-top-sm">
      <div class="rounded bg-white shadow-dark padding-30">
        <div class="row">
          <div class="col-md-12">
            <!-- about text -->
            <p>
              I am a Web Designer with over 10 years of experience in web design/development, graphics and multimedia design. I am highly skilled in UI/UX design, Front-End application development, and WordPress custom theme creation. I enjoy coming up with ideas that demonstrate my “outside the box” thinking. I love designing aesthetically pleasing websites that clearly communicate a client’s message and vision. I enjoy learning new tools and technologies and sharing my knowledge with team members. I have great attention to detail and takes pride in providing high-quality work products that are user friendly and usability-focused.
            </p>
            <!-- <p>I am looking for a creative opportunity to contribute my design and technical capabilities to website development and application development projects and expand my design and development skills working in a collaborative environment.</p> -->
            <!-- <div class="mt-3">
              <a href="javascript:" class="btn btn-default mb-4">Download CV</a>
            </div> -->
            <div class="spacer-30 d-md-none d-lg-none"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <!-- skill item -->
            <div class="skill-item">
              <div class="skill-info clearfix">
                <h4 class="float-left mb-3 mt-0">Development</h4>
                <span class="float-right">85%</span>
              </div>
              <ngb-progressbar type="warning" [value]="85"></ngb-progressbar>
              <div class="spacer-20"></div>
            </div>

            <!-- skill item -->
            <div class="skill-item">
              <div class="skill-info clearfix">
                <h4 class="float-left mb-3 mt-0">UI/UX design</h4>
                <span class="float-right">95%</span>
              </div>
              <ngb-progressbar type="danger" [value]="95"></ngb-progressbar>
              <div class="spacer-20"></div>
            </div>

            <!-- skill item -->
            <div class="skill-item">
              <div class="skill-info clearfix">
                <h4 class="float-left mb-3 mt-0">Photography</h4>
                <span class="float-right">100%</span>
              </div>
              <ngb-progressbar type="primary" [value]="100"></ngb-progressbar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- row end -->

  <div class="spacer-70"></div>

  <div class="row">
    <div class="col-md-3 col-sm-6">
      <!-- fact item -->
      <div class="fact-item">
        <span class="icon icon-heart"></span><i class=""></i>
        <div class="details">
          <h3 class="mb-0 mt-0 number"><em class="count">200+</em></h3>
          <p class="mb-0">Rollercoasters</p>
        </div>
      </div>
      <div class="spacer-30 d-md-none d-lg-none"></div>
    </div>

    <div class="col-md-3 col-sm-6">
      <!-- fact item -->
      <div class="fact-item">
        <span class="icon icon-screen-desktop"></span>
        <div class="details">
          <h3 class="mb-0 mt-0 number"><em class="count">7</em></h3>
          <p class="mb-0">Computer Devices</p>
        </div>
      </div>
      <div class="spacer-30 d-md-none d-lg-none"></div>
    </div>

    <div class="col-md-3 col-sm-6">
      <!-- fact item -->
      <div class="fact-item">
        <span class="icon icon-film"></span>
        <div class="details">
          <h3 class="mb-0 mt-0 number"><em class="count">10,240</em></h3>
          <p class="mb-0">Regal Cinema Points</p>
        </div>
      </div>
      <div class="spacer-30 d-md-none d-lg-none"></div>
    </div>

    <div class="col-md-3 col-sm-6">
      <!-- fact item -->
      <div class="fact-item">
        <span class="icon icon-map"></span>
        <div class="details">
          <h3 class="mb-0 mt-0 number"><em class="count">17</em></h3>
          <p class="mb-0">US States Visited</p>
        </div>
      </div>
    </div>
  </div>
</div>
